Source: picam
Section: python
Priority: extra
Maintainer: Damyon Wiese <damyon.wiese@gmail.com>
Build-Depends: debhelper (>= 7), python-all
Standards-Version: 3.8.0
Homepage: http://www.github.com/damyon/picam
X-Python-Version: >= 2.7

Package: picam
Architecture: all
Depends: gphoto2 (>= 2.4.14-1), ufraw-batch (>= 0.18-2), python2.7 (>= 2.7.3-6), python-simplejson (>=2.5.2-1), python-bottle (>= 0.10.11-1), ffmpeg (>= 6:0.8.6-1~)
Description: Python USB camera control web interface

